@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.button-2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 19px;
    border-radius: 7px;
}
.container-searchs{
    background: #A8D1E7;
    height: 60px;
}
.p-last{
    width: 191px;
    height: 60px;
    background: #384685;
    color: whitesmoke;
    border-radius: 5px; 
}
.container-last{
    background: #C4C4C4;
    border-radius: 10px;
    width: 1520px;
    height: 387px;
}
.container-last2{
    width: 217px;
    height: 333px;
    background: #FFFFFF;
    box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    top: -48px;
    left: 0;
}

.p2{
    background: #F4F4F4;
    width: 217px;
    height: 38px;
}